<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blackdevth.dev.moneycalcal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"

            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".relative"
            android:label="@string/title_activity_test2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".linear" />
        <activity
            android:name=".abs"
            android:label="@string/title_activity_abs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".frame"
            android:label="@string/title_activity_frame"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".table"
            android:label="@string/title_activity_table"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>